<table id="flights_table">
	<tr id="main_header_row">
		<thead>
		<th id="main_header_cell" colspan="6">Showing all Flights</th>
		</thead>
	</tr>
	<tr>
		<th>Departs</th>
		<th>Departure Date</th>
		<th>Flight Code</th>
		<th>Duration</th>
		<th>Arrives</th>
		<th>Arrival Date</th>
	</tr>
	<% @flights.each do |flight| %>
		<tr>
			<td class="flights_cell">
				<%= flight.departs_loc.code %>
			</td>
			<td class="flights_cell">
				<%= flight.departs_date %>
			</td>
			<td class="flights_cell">
				<%= link_to "#{flight.code}", flights_show_url(flight_code: flight.code )%>
			</td>
			<td class="flights_cell">
				<%= flight.duration %>
			</td>
			<td class="flights_cell">
				<%= flight.arrives_loc.code %>
			</td>
			<td class="flights_cell">
				<%= flight.arrives_date %>
			</td>
		</tr>
	<% end %>
</table>